{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет, я Андрей</h1>
  <p>
    Мир программирования меня всегда манил, но все никак не решался на то чтобы погрузится в него.
    <br>
    К решению меня подтолкнуло желание автоматизировать процессы и уметь делать простые сервисы,
    <br> 
    моргнул, и вот у меня уже есть учетка на <a href = "https://github.com/falkky/"> Github </a> и первые проекты.
  </p>
  <p>
    У меня есть кот Рекси который любит перезагружать мне компьютер намекая на то, что только что
    <br>
    написанный несохранный код нужно переписать. Прилагаю фото помощника:
    <br>
    <img src="{% static 'img/Reksi.png' %}" width="300" height="300" alt=""> 
  </p>
</div>
{% endblock %} 